
h1, h2, h3, h4, h5, h6{
    font-family: trebuchet, sans-serif;
}

input, label, p, fieldset{
    font-family:verdana, sans-serif;
}

form{
    display:grid;
    grid: auto auto / auto auto auto auto;
    max-width: 400px;
    text-align:center;
}
.parallax{
  background-image: url("images/forest.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bodypage{
    font-size:50px;
    height:1000px
}
nav {
  display: flex;
  gap: 20px; 
}

nav a {
  text-decoration: none;
}
nav a {
  text-decoration: none;
  color: #2f855a;       
  font-size: 1.0rem;
  font-family: Arial, sans-serif;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
}