/* 
colours(light to dark): #D3D335, #82A71D, #1F7815, #0C4F29
headings: trebuchet, sans-serif
body: verdana, sans-serif
*/
h1, h2, h3, h4, h5, h6{
    font-family: trebuchet, sans-serif;
}

input, label, p, fieldset{
    font-family:verdana, sans-serif;
}

form{
    display:grid;
    grid: auto auto / auto auto auto auto;
    max-width: 400px;
    text-align:center;
}
.parallax{
  background-image: url("images/forest.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bodypage{
    font-size:50px;
    height:1000px
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

header img {
  width: 200px; /* control logo size */
}


nav {
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #2f855a;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  font-weight: 500;
}

nav a:hover {
  color: #38a169;
}
